/* styles */

.firstOdd {
    background-color: hsl(32, 76%, 72%);
    font-style: verdana; 
}

#firstEven {
    color: hsl(240, 90%, 50%);
    font-size: 36px;
}

.secondOdd {
    background-color: hsl(32, 76%, 72%);
    font-size: 24px;
}

#secondEven {
    background-color: lightgreen;
    font-weight: bold;
    font-size: 24px;
}

.thirdOdd {
    background-color: hsl(32, 76%, 72%);
}

